.navbar{
              width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 4px grey;
    align-items: center;

}
.Nav_cus{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav_search_form{
  background-color: white;
  display: flex;
}


.Search_Location_con{
    border: 1px solid rgb(168, 178, 190);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#Search_Location_input{
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    border: none;
    width: 550px;
    height: 45px;
    border: 2px solid rgb(0, 0, 0);
    border-right: none;
}
/* #Search_Location_input:focus-visible{
      border: 3px solid #2a67ff;
      border-right: none;
} */

.Search_Location_con > * {
    border: none;
    height: 30px;
}
.suggestCon {
    width: 550px;
    text-align: left;
    list-style: none;
    font-size: 19px;
    margin-top: 10px;
    
    box-shadow: rgb(145, 145, 145) 1px 1px 6px;
    z-index: 10;
    position: fixed;
    background-color: white;
    padding: 0px;
}

.suggestCon >li{
  padding: 0 10px;
  cursor: pointer;
}
.suggestCon >li:hover{
  background-color: #cacaca;
}


.search_btn{
  outline: none;
     padding: 0px;
    border: none;
    height: 45px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
  
    background-position: center;
    background-size: 25px 25px;
  background-image: url(img/search.svg);

}
/* .search_btn:hover{
   background-color: #393d46;
} */



.help_link > a{
    font-size: 18px;
    color: black;
    padding: 8px 15px;
    border: 2px solid;
}
.help_link > a:hover{
  background-color: black;
  color: white;
}





.alert_box{
      position: fixed;
    width: 100%;
    height: 40px;
    display: none;
    z-index: 11;
    padding-left: 20px;
    top: 70px;
    text-align: left;
    line-height: 40px;
}




.activeAppearance{
  display: block!important;
}








/* cover  page 





/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */


.cover-container {
  max-width: 42em;
}





@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.right_cover{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(img/Cover.jpg);
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
